{% extends "formative.html" %}
{% load static %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>


<!-- Latest compiled and minified CSS -->
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">

<!-- Optional theme -->
<link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">

<!-- Latest compiled and minified JavaScript -->
<script crossorigin="anonymous"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="{% static 'master.css' %}" rel="stylesheet">
<link href="https://npmcdn.com/flickity@2/dist/flickity.css" rel="stylesheet" type="text/css">
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Kanit:200,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<style>
        .navbar{
           box-shadow: 0 0 1px #333;
           border-style: none;
           background: linear-gradient(180deg, #4B48ED 0%,#0078a8 100%);
           color: white;
           opacity: 0.9;
        }

        #popcart{
            margin-top: 9px;
            background: transparent;
            color: white;
            border-style: none;
            text-decoration: none;
            box-shadow: none;
            margin-right: 10px;
            text-shadow: none;
        }

        #feedback-form {
          width: 780px;
          height: 500px;
          margin: 0 auto;
          margin-top: 60px;
          margin-left: 50px;
          background-color: #fcfcfc;
          box-shadow: 1px 4px 10px 1px #aaa;
          font-family: sans-serif;
        }

        #feedback-form * {
            box-sizing: border-box;
        }

        #feedback-form h2{
          text-align: center;
          margin-bottom: 30px;
        }

        #feedback-form input {
          margin-bottom: 15px;
        }

        #feedback-form input[type=text] {
          display: block;
          height: 32px;
          padding: 6px 16px;
          width: 100%;
          border: none;
          background-color: #f3f3f3;
        }

        #feedback-form input[type=email] {
          display: block;
          height: 32px;
          padding: 6px 16px;
          width: 100%;
          border: none;
          background-color: #f3f3f3;
        }

        #feedback-form input[type=tel] {
          display: block;
          height: 32px;
          padding: 6px 16px;
          width: 100%;
          border: none;
          background-color: #f3f3f3;
        }

        #feedback-form textarea {
          display: block;
          height: 32px;
          padding: 6px 16px;
          width: 100%;
          border: none;
          background-color: #f3f3f3;
          font-family: sans-serif;
        }

        #feedback-form label {
          color: #777;
          font-size: 1vw;
        }

        #feedback-form button[type=submit] {
          display: block;
          margin: 20px auto 0;
          width: 150px;
          height: 40px;
          border-radius: 25px;
          border: none;
          color: #eee;
          font-weight: 700;
          box-shadow: 1px 4px 10px 1px #aaa;
          background: linear-gradient(to right, #1D2671 0%,#348F50 100%);
         }

        #feedback-form1 {
          width: 480px;
          margin: 0 auto;
          margin-top: 60px;
          padding-bottom: 20px;
          margin-left: 140px;
          background-color: #fcfcfc;
          box-shadow: 1px 4px 10px 1px #aaa;
          font-family: sans-serif;
        }

        #feedback-form1 * {
            box-sizing: border-box;
        }

        #feedback-form1 h2{
          text-align: center;
          margin-bottom: 30px;
        }

        #feedback-form1 input {
          margin-bottom: 15px;
        }

        #feedback-form1 input[type=text] {
          display: block;
          height: 32px;
          padding: 6px 16px;
          width: 100%;
          border: none;
          background-color: #f3f3f3;
        }

        #feedback-form1 textarea {
          display: block;
          height: 32px;
          padding: 6px 16px;
          width: 100%;
          border: none;
          background-color: #f3f3f3;
          font-family: sans-serif;
        }

        #feedback-form1 label {
          color: #777;
          font-size: 0.8em;
        }

        #feedback-form1 button[type=submit] {
          display: block;
          margin: 20px auto 0;
          width: 150px;
          height: 40px;
          border-radius: 25px;
          border: none;
          color: #eee;
          font-weight: 700;
          box-shadow: 1px 4px 10px 1px #aaa;
          background: linear-gradient(to right, #1D2671 0%,#348F50 100%);
        }

        .sectionHead{
          width: 100%;
          padding: 1em 1.5em;
          background: #f2f2f2;
          border-bottom: 1px solid #D0D0D0;
          font-weight: bold;
          font-size: 1em;
         }

        .sectionHead1{
          padding: 1em 1.5em;
          border-bottom: 1px solid #D0D0D0;
          font-weight: bold;
          font-size: 1em;
        }

        .sectionHead3{
          padding: 1em 1.5em;
          border-top: 1px solid #D0D0D0;
          font-weight: bold;
          font-size: 1em;
        }

        form ul li {
          float: left;
          width: 50%;
          position: relative;
          padding: 0 5% 0 0;
          margin: .5em 0;
        }
        form ul label {
          font-size: .5em;
          color: #676767;
          margin-bottom: .25em;
          display: block;
        }

        form ul input[type="text"] {
          width: 100%;
          padding: .5em;
          font-size: .85em;
          color: #2e2e2e;
          border: 1px solid #D0D0D0;
          border-radius: 5px;
          -webkit-transition: all 0.25s linear;
          -moz-transition: all 0.25s linear;
          -ms-transition: all 0.25s linear;
          -o-transition: all 0.25s linear;
          transition: all 0.25s linear;
        }

        form ul input[type="text"]:focus {
          outline: 0;
          box-shadow: 0px 0px 10px -2px #2979ff;
        }

        form ul input[type="submit"] {
          appearance: none;
          -webkit-appearance: none;
          background: #00b4e0;
          border: 0;
          color: #fff;
          font-family: "Montserrat", sans-serif;
          font-size: .65em;
          text-align: center;
          padding: .75em 2.5em;
          border-radius: 5px;
          letter-spacing: .025em;
          font-weight: bold;
          text-transform: uppercase;*/
        }


</style>

{% endblock %}


{% block body_block %}

<div class="row">
    <div class="col-md-6">
        <div id="right">

            <div id="feedback-form">
                <h3 class="sectionHead">Shipping Information</h3>
                <div>
                    <form action="/add_to_cart/add_to_cart/" method="post">
                        {% csrf_token %}
                        <input id="itemsJson" name="itemsJson" type="hidden">
                        <input id="amount" name="amount" type="hidden">
                        <ul id="shippingInfo" style="padding-left: 15px; ">
                            <li>
                                <label for="FirstName" style="font-size: 12px;">First Name</label>
                                <input class="form-control" id="FirstName" name="first_name" placeholder="First Name"
                                       type="text"/>
                            </li>
                            <li>
                                <label for="LastName" style="font-size: 12px;">Last Name</label>
                                <input class="form-control" id="LastName" name="last_name" placeholder="Last Name"
                                       type="text"/>
                            </li>
                            <li><label for="email" style="font-size: 12px;">Email</label>
                                <input class="form-control" id="email" name="email" placeholder="Email" type="email"/>
                            </li>
                            <li><label for="address" style="font-size: 12px;">Address Line 1</label>
                                <input class="form-control" id="address" name="address" placeholder="1234 Main St"
                                       type="text"/>
                            </li>
                            <li><label style="font-size: 12px;">Address Line 2</label>
                                <input type="text"/>
                            </li>
                            <li><label for="city" style="font-size: 12px;"> City</label>
                                <input class="form-control" id="city" name="city" type="text"/>
                            </li>
                            <li><label for="state" style="font-size: 12px;">State</label>
                                <select class="form-control" id="state" name="state">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </li>
                            <li><label for="zip" style="font-size: 12px;">Zip Code</label>
                                <input class="form-control" id="zip" name="zip_code" type="number"/>
                            </li>
                            <li><label class="inputZip" style="font-size: 12px;">Phone Number</label>
                                <input class="form-control" id="phone" name="phone" type="tel"/>
                            </li>
                            <button class="btn btn-primary" type="submit">Place Order</button>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div id="right">
            <div id="feedback-form1">
                <h2 class="sectionHead">Receipt</h2>
                <div class="row" style="margin: 10px;">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8 sectionHead1">
                                Name
                            </div>
                            <div class="col-md-2 sectionHead1">
                                Qty
                            </div>
                            <div class="col-md-2 sectionHead1">
                                Price
                            </div>
                        </div>
                        <br>
                        <br>
                        <div id="items"></div>
                    </div>
                </div>

                <div class="row sectionHead3">
                    <div class="col-md-8 ">
                        Subtotal
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2" id="totalPrice"> </div>
                </div>

                <div class="row sectionHead3">
                    <div class="col-md-8 ">
                        Delivery charges
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        55.00
                    </div>
                </div>

                <div class="row sectionHead3">
                    <div class="col-md-8 ">
                        Total
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2" id="totalPricelast">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

if(localStorage.getItem('demn', 'shit') == null) {
  var demn = {};
  var shit = {};
}
else {
  demn = JSON.parse(localStorage.getItem('demn'));
  shit = JSON.parse(localStorage.getItem('shit'));
}


console.log(demn);
console.log(shit);

sum = 0;
totalPrice = 0;
if ($.isEmptyObject(demn))  {
  mystr = `<h4> Your cart is empty </h4>`
  $('#items').append(mystr);

}
else {


for (item in demn) {

  let name = demn[item][1];
  let qty = demn[item][0];
  let itemPrice = demn[item][2];
  sum = sum + qty;
  totalPrice = totalPrice + qty * itemPrice;
  totalPricelast = totalPrice + 55;
  mystr = `<div class="row" style="font-size: 1em;"> <div class="col-md-8"> ${name} </div> <div class="col-md-2"> ${qty} </div> <div class="col-md-2"> ${itemPrice}</div> </div><br>`


  $('#items').append(mystr);

}


for (item in shit) {

  let name = shit[item][1];
  let qty = shit[item][0];
  let itemPrice = shit[item][2];
  sum = sum + qty;
  totalPrice = totalPrice + qty * itemPrice;
  totalPricelast = totalPrice + 55;
  mystr = `<div class="row" style="font-size: 1em;"> <div class="col-md-8"> ${name} </div> <div class="col-md-2"> ${qty} </div> <div class="col-md-2"> ${itemPrice}</div> </div><br>`
$('#items').append(mystr);

}



}


 document.getElementById('demn').innerHTML = sum;
 document.getElementById('totalPrice').innerHTML = totalPrice;
 document.getElementById('totalPricelast').innerHTML = totalPricelast;
 $('#itemsJson').val(JSON.stringify(demn));
 {% if thank %}
 alert('Wohooo! Your order has been placed. Your order is {{id}}. Use it to track your order')
 localStorage.clear();

 document.location = "/dyna/dyna";

 {% endif %}

 $('#amount').val($('#totalPricelast').html())






        </script>


        {% endblock %}
