{% extends 'formative.html' %}
{% block body_block %}
 <style type="text/css">


    table {
      border-collapse: collapse !important;
    }


    .backgroundTable {
      margin: 0 auto;
      padding: 0;
      width: 100% !important;
    }

    table td {
      border-collapse: collapse;
    }



    /* General styling */
    * {
      font-family: Helvetica, Arial, sans-serif;
    }

    body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      margin: 0 !important;
      height: 100%;
      color: #676767;
    }

    td {
      font-family: Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #777777;
      text-align: center;
      line-height: 21px;
    }



    .header-lg,
    .header-md,
    .header-sm {
      font-size: 32px;
      font-weight: 700;
      line-height: normal;
      padding: 35px 0 0;
      color: #4d4d4d;
    }

    .header-md {
      font-size: 24px;
    }

    .header-sm {
      padding: 5px 0;
      font-size: 18px;
      line-height: 1.3;
    }

    .content-padding {
      padding: 20px 0 5px;
    }

    .mobile-header-padding-right {
      width: 290px;
      text-align: right;
      padding-left: 10px;
    }

    .mobile-header-padding-left {
      width: 290px;
      text-align: left;
      padding-left: 10px;
    }



    .mini-block {
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      background-color: #ffffff;
      padding: 12px 15px 15px;
      text-align: left;
      width: 253px;
    }

    .mini-container-left {
      width: 278px;
      padding: 10px 0 10px 15px;
    }

    .mini-container-right {
      width: 278px;
      padding: 10px 14px 10px 15px;
    }

    .product {
      text-align: left;
      vertical-align: top;
      width: 175px;
    }

    .total-space {
      padding-bottom: 8px;
      display: inline-block;
    }

    .item-table {
      padding: 50px 20px;
      width: 560px;
    }

    .item {
      width: 800px;
    }

    .item-col {
      padding-top: 20px;
      text-align: left;
      vertical-align: top;
    }




    .title-dark {
      text-align: left;
      border-bottom: 1px solid #cccccc;
      color: #4d4d4d;
      font-weight: 700;
      padding-bottom: 5px;
    }

    .force-width-gmail {
      min-width: 600px;
      height: 0px !important;
      line-height: 1px !important;
      font-size: 1px !important;
    }

      .container {

  width: 780px;
  height: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 300px;
  background-color: #fcfcfc;

  box-shadow: 1px 4px 10px 1px #aaa;
  font-family: sans-serif;
}

#ok{
background-image: url("/static/images/2.jpg");
 background-repeat: no-repeat;
   background-size: cover;
}

  </style>

  <style type="text/css" media="screen">
    @import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
  </style>

  <style type="text/css" media="screen">
    @media screen {

       {
        font-family: 'Oxygen', 'Helvetica Neue', 'Arial', 'sans-serif' !important;
      }
    }
  </style>



<div id="ok">

    <div class="container">
    <div class="col my-4">
        <center>
            <p class="header-lg">Order status</p>
            <p style="font-size: 16px;">Please enter your email address and order Id.</p>
        <form method="post" action="#" id="trackerForm">{% csrf_token %}
            <div class="form-row" >
                <div style="width: 200px; margin-bottom: 20px;" >

                    <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
                </div>
                <div style="width: 200px; margin-bottom: 20px;">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">

                </div>



                <button type="submit" class="btn btn-primary">Track Order</button>
            </div>
        </form>
        </center>





<table align="center" cellpadding="0" cellspacing="0" width="100%">
    <tr>

      <td align="center" valign="top" width="100%" style="background-color: #f7f7f7;" class="content-padding">
        <center>
          <table cellspacing="0" cellpadding="0" width="600" class="w320">
            <tr>
              <td class="header-lg">
                Your order
              </td>
            </tr>


            <tr>
              <td class="w320">
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td class="mini-container-left">
                      <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td class="mini-block-padding">
                            <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:separate !important;">
                              <tr>
                                <td class="mini-block">
                                  <span class="header-sm">Shipping Address</span><br />
                                 <span id="address"></span>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                    <td class="mini-container-right">
                      <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                          <td class="mini-block-padding">
                            <table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:separate !important;">
                              <tr>
                                <td class="mini-block">
                                  <span class="header-sm">Date Shipped</span><br />
                                  <span id="items"></span>  <br />
                                  <br />
                                  <span class="header-sm">Order</span> <br />
                                    <span id="orderID"></span>

                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" width="100%" style="background-color: #ffffff;  border-top: 1px solid #e5e5e5; border-bottom: 1px solid #e5e5e5;">
        <center>
          <table cellpadding="0" cellspacing="0" width="600" class="w320">
            <tr>
              <td class="item-table">
                <table cellspacing="0" cellpadding="0" width="100%">
                  <tr>
                    <td class="title-dark">
                      Item
                    </td>
                    <td class="title-dark">
                      Qty
                    </td>
                    <td class="title-dark">
                      Total
                    </td>
                  </tr>


                  <tr id="citems">

                  </tr>

                  <tr>
                    <td class="item-col item">
                    </td>
                    <td class="item-col quantity" style="text-align:right; padding-right: 10px; border-top: 1px solid #cccccc;">
                      <span class="total-space">Subtotal</span> <br />

                      <span class="total-space">Shipping</span> <br />
                      <span class="total-space" style="font-weight: bold; color: #4d4d4d">Total</span>
                    </td>
                    <td class="item-col price" style="text-align: left; border-top: 1px solid #cccccc;">

                      <span class="total-space" id="totalPrice"></span> <br />

                      <span class="total-space">$55.00</span> <br />
                      <span class="total-space" style="font-weight:bold; color: #4d4d4d" id="totalPricelast"></span>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

          </table>
        </center>
      </td>
    </tr>

  </table>

</div>
    </div>
</div>


{% endblock %}
{% block js %}
<script>
sum =0;
totalPrice =0;
totalPricelast = 0;
$('#trackerForm').submit(function(event) {
    $('#items').empty();
    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
    };
    $.ajax({
            type: 'POST',
            url: '/add_to_cart/yourorders/',
            data: formData,
            encode: true
        })
        .done(function(data) {
            $('#citems').empty();
            console.log(data)
            data = JSON.parse(data);
            if (data['status'] == 'success') {
                updates = data['updates'];
                for (i = 0; i < updates.length; i++) {
                    let text = updates[i]['text'];
                    let time = updates[i]['time'];
                    let address = updates[i]['address'];
                    let orderId = updates[i]['orderid'];
                    mystr = `<span> ${time}</span>`
                    $('#items').append(mystr);

                    document.getElementById('orderID').innerHTML = orderId;
                    document.getElementById('address').innerHTML = address;
                }


                // Fill in the order details

                cart = JSON.parse(data['itemsJson']);
                console.log(cart);
                for (item in cart) {
                    let name = cart[item][1];
                    let qty = cart[item][0];
                    let itemPrice = cart[item][2];
                    sum = sum + qty;
                    totalPrice = totalPrice + qty * itemPrice;
                    totalPricelast = totalPrice + 55;

                     document.getElementById('totalPrice').innerHTML = totalPrice;
                     document.getElementById('totalPricelast').innerHTML = totalPricelast;

                    mystr = `<tr >
                    <td class="item-col">

                            <span style="font-weight:bold; padding-right: 200px">${name}</span> <br />


                    </td>
                    <td>

                            <span style="color: #4d4d4d; font-weight:bold; padding-right: 80px">${qty}</span> <br />

                    </td>
                    <td>

                            <span style="color: #4d4d4d; font-weight:bold;">${itemPrice}</span> <br />


                    </td>
                  </tr>`
                    $('#citems').append(mystr);

                }



            } else {
                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                $('#items').append(mystr);
                $('#citems').append(mystr);
            }
        });
    event.preventDefault();
});

</script>
{% endblock %}
