{% extends "formative.html" %}
{% load static %}

{% block title %}Log-in{% endblock %}

{% block head %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 <title>The Artisan</title>
    <link rel="icon" href="/static/images/icon.ico" type="image/x-icon">


<style>
  @import url(http://fonts.googleapis.com/css?family=Muli);

   .navbar{
         box-shadow: 0 0 1px #333;
  border-style: none;
  background: linear-gradient(180deg, #4B48ED 0%,#0078a8 100%);
  color: white;
  opacity: 0.95;
  height: 40px;
  margin: 0;
  padding: 0;
        }


		/* Form */
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto 100px;
  padding: 30px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: center;
}
.form .thumbnail {
  background: url("/static/images/profile.jpg");
  background-size: 148px 148px;
  width: 150px;
  height: 150px;
  margin: 0 auto 30px;
  padding: 50px 30px;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  box-sizing: border-box;
}
.form .thumbnail img {
  display: block;
  width: 100%;
}

.form button {

}

.form .button2 {
  outline: 0;
  width: 48%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top:5px;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #EF3B3A;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}


/* END Form */
/* Demo Purposes */
body {
  background: #ccc;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



/* social-auth */

.social li {
    list-style:none;
    padding:10px 20px;
    margin:0 0 10px 0;
}
.social li a {
    width:100%;
    height:100%;
    display:block;
    color:#fff;
}
.social li.facebook { background:#3b5399; }
.social li.twitter { background:#00cffa; }
.social li.google { background:#de1710; }



         #btn-grad {background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%)}
         #btn-grad {
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            outline: 0;

  width: 100%;
  border: 0;
  padding: 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
          }

          #btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }
.Social{
  width: 30%;
  margin-bottom: 20px;

}

.facebook{
  background-color: #4E6496;
}

.twitter{
 background-color: #56A0DE;
}

.google{
  background-color: #DC4C30;
}



</style>
{% endblock %}

{% block body_block %}
<center>
  <br>
  <br>
  <br>
  <h1>Log-in</h1>
  {% if form.errors %}
    <p>
      Your username and password didn't match.
      Please try again.
    </p>
  {% else %}
  {% endif %}




<div class="login-form">

</div><div class="container">

</div>
<div class="form">
  <div class="thumbnail"></div>
      <p class="message">Not registered? <a href="{% url 'register' %}">Create an account</a></p>
  <form action="{% url 'login' %}" method="post">
     {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit" value="Log-in" id="btn-grad">Login</button>


      <button class = "Social  twitter"><a href="{% url 'social:begin' 'facebook' %}" style="text-decoration:none; color: white;">Facebook</a></button>
      <button class = "Social google"><a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration:none; color: white;">Google</a></button>


  </form>
  <p class="message"> <a href="{% url 'password_reset' %}">Forgot Password ?</a></p>

</div>

</center>

{% endblock %}